services:
  # 1. Java Backend (Spring Boot)
  - type: web
    name: staybooking-backend
    runtime: java             # Використовуємо runtime для типу web
    plan: free
    region: frankfurt
    rootDir: backend          # Шлях до папки з pom.xml
    buildCommand: mvn clean install -DskipTests
    startCommand: java -jar target/*.jar
    envVars:
      - key: SPRING_PROFILES_ACTIVE
        value: prod
      - key: JAVA_VERSION
        value: 17
      - key: POSTGRES_URL
        sync: false
      - key: POSTGRES_USER
        sync: false
      - key: POSTGRES_PASSWORD
        sync: false

  # 2. Frontend (React/Vite)
  - type: web
    name: staybooking-frontend
    runtime: static           # Використовуємо runtime: static
    plan: free
    # ПОЛЕ REGION ТУТ ЗАБОРОНЕНО СПЕЦИФІКАЦІЄЮ ДЛЯ STATIC
    buildCommand: npm install && npm run build
    staticPublishPath: ./dist # Це поле обов'язкове для runtime: static
    envVars:
      - key: VITE_API_BASE_URL
        fromService:
          name: staybooking-backend
          type: web
          property: host
