services:
  # 1. Налаштування Java Backend (Spring Boot)
  - type: web
    name: staybooking-backend
    env: java
    region: frankfurt # Найближчий регіон до Ердінга/Мюнхена
    buildCommand: mvn -f backend/pom.xml clean install -DskipTests
    startCommand: java -jar backend/target/*.jar
    envVars:
      - key: SPRING_PROFILES_ACTIVE
        value: prod
      # Змінні для підключення до вашої БД на Vercel
      # Після створення сервісу вам потрібно буде вписати реальні значення в панелі Render
      - key: POSTGRES_URL
        sync: false 
      - key: POSTGRES_USER
        sync: false
      - key: POSTGRES_PASSWORD
        sync: false


# 2. Налаштування Frontend (React/Vite)
  - type: web
    name: staybooking-frontend
    env: static
    buildCommand: npm install && npm run build
    staticPublishPath: ./dist  # Ось тут була помилка, змініть на staticPublishPath
    envVars:
      - key: VITE_API_BASE_URL
        fromService:
          name: staybooking-backend
          type: web
          property: host
