services:
  # 1. Java Backend (Web Service)
  - type: web
    name: staybooking-backend
    env: java             # Для Web Service у YAML використовується env, а не runtime
    plan: free
    region: frankfurt
    rootDir: backend
    buildCommand: mvn clean install -DskipTests
    startCommand: java -jar target/*.jar
    envVars:
      - key: SPRING_PROFILES_ACTIVE
        value: prod
      - key: JAVA_VERSION
        value: 17
      - key: POSTGRES_URL
        sync: false
      - key: POSTGRES_USER
        sync: false
      - key: POSTGRES_PASSWORD
        sync: false

  # 2. Frontend (Static Site)
  # УВАГА: Для фронтенду ми змінюємо type на static
- type: static
  name: staybooking-frontend
  env: static
  plan: free
  # Регіон видалено, бо для static він не підтримується (CDN)
  buildCommand: npm install && npm run build
  publishPath: ./dist
  envVars:
    - key: VITE_API_BASE_URL
      fromService:
        name: staybooking-backend
        type: web
        property: host
